// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


@import "variables";


* {
  letter-spacing: .5px;
  text-decoration: none;
}

u, .text-underline {
  text-decoration: underline !important;
}


.fill-width {
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-index {
  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }

  &-6 {
    z-index: 6;
  }
}

.top {
  &-0 {
    top: 0;
  }
}

.right {
  &-0 {
    right: 0;
  }
}

.left {
  &-0 {
    left: 0;
  }
}

.bottom {
  &-0 {
    bottom: 0;
  }
}

.text {
  &-transform {
    &-none {
      text-transform: none !important;
    }
  }
}

.font{
  &-weight{
    &-500{
      font-weight: 500;
    }
    &-600{
      font-weight: 600;
    }
    &-700{
      font-weight: 700;
    }
    &-800{
      font-weight: 800;
    }
  }
}

.lh-auto {
  line-height: 1.5em;
}

.lh-initial {
  line-height: initial !important;
}

.pointer {
  cursor: pointer;
}
.whiteBackground{
  background: #F8F9FB;
}


#__nuxt .v-application {

  .v-application--wrap{
    max-width: initial!important;
  }
  .v-sheet.v-card {
    border-radius: 8px;
    border: 1px solid #EBEEF3;
    box-shadow: initial;
  }
  .v-btn{
    border-radius: 6px;
    text-transform: none !important;
  }

  .v-text-field--outlined, .v-text-field--solo {
    border-radius: 6px;
  }

  .v-text-field.v-text-field--solo .v-input__control{
    min-height: 40px !important;
  }

  .theme--light.v-btn.v-btn--outlined.v-btn--text{
    border: 1px solid #aaaaaa  !important;
    min-height: 40px !important;
  }


  .v-text-field {
    &--outlined {
      > .v-input__control {
        > .v-input {
          &__slot {
            min-height: 40px !important;
            border-color: #EBEEF3 !important;
            //margin-bottom: 0 !important;

            &::before {
              border-color:  #EBEEF3  !important;
            }
          }
        }
      }
    }
  }
}

